.header {
  margin-top: 10px;
  padding: 50px 22px;
  min-height: 240px;
  text-align: center;
  color: #fff;
  background-color: gray;
}
.section {
  width: 96%;
  max-width: 960px;
  margin: 80px auto 80px auto;
  text-align: center;
  margin-top: -100px;
}
.column {
  display: inline-block;
  width: 320px;
  text-align: center;
}
.column div {
  margin: 0px auto;
}

.circular--square {
  border-radius: 50%;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}


.info{
    margin-top: -60px;
}
.info-personelle{
    /* margin-top: 20px; */
    margin-bottom: 30px;
}